<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype Express</title>
</head>
<body>
    <!-- 개인페이지는 여기에 6개의 템플릿 회원가입이나 로그인페이지는 별도구현되었음 -->
    <!-- 모두가 작업하는공간이니 id나 class명령어는 css에서 미리 찾아보고 지정할것 -->
    <!-- 깃헙 푸시밀거나 merge할때 내가지금무엇을어떻게한걸 올린다 공지하고 할것 -->
    <!-- 싸우지말고 열심히 최선을다해서 알아서 잘 딱 깔끔하고 쎈쓰있게 할것 -->


    <script src="../static/main.js"></script>
</body>
</html>